.tela-nova-transacao {
    height: 400px;
    width: 95vw;
    margin: auto;
}

span.container-v,
span.container-h {
    align-items: start;
    font-weight: 600;
    color: var(--body-color);
}

#input-tipo,
.btns-container {
    justify-content: space-between;
}

.form {
    width: 300px;
    border: 2px solid #707070;
    background-color: var(--article-bg);
    padding: 15px 20px;
    border-radius: 1rem;
    --bg-light: #efefef;
    --bg-dark: #707070;
}

.form input[type="text"],
.form input[type="date"],
.form input[type="number"] {
    margin-top: 5px;
    border-radius: 0.5rem;
    padding: 10px 0.75rem;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--body-bg);
    outline: 2px solid var(--bg-dark);
}

.form input[type="text"]:focus,
.form input[type="date"]:focus,
.form input[type="number"]:focus {
    outline: 2px solid var(--body-color);
}


.radio-container div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    justify-content: center;
}

/* .radio-container input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
} */

.radio-container input[type="radio"]:checked + span {
    box-shadow: 0 0 0 0.0625em var(--body-color);
    background-color: var(--body-bg);
    z-index: 1;
    color: var(--body-color);
}

.radio-label span {
    /* height: 80%; */
    display: block;
    cursor: pointer;
    background-color: #fff;
    padding: 0.375em .75em;
    position: relative;
    margin-left: .0625em;
    box-shadow: 0 0 0 0.0625em #b5bfd9;
    letter-spacing: .04em;
    color: #3e4963;
    text-align: center;
    transition: background-color .5s ease;
}

label:first-child span {
    border-radius: .375em 0 0 .375em;
}

label:last-child span {
    border-radius: 0 .375em .375em 0;
}

.btns-container {
    margin-top: 15px;
}

a, a:link, a:visited {
    text-decoration: none;
    color: #707070;
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
    color: var(--body-color);
}

.form input[type="submit"] {
    background-color: var(--body-bg);
    color: #707070;
    border-radius: 15px;
    font-size: 0.9em;
    border: none;
    padding: 5px 5px;
    transition: 0.2s;

    &:hover {
        background-color: var(--body-color);
        color: var(--article-bg);
    }

}