:root {
    --cor-pri: #2c4fa0;
    --cor-sec: #c0c9e7;
    --cor-ter: #303030;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-pri);
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    color: var(--cor-ter);
}

/*
* ========== Formatação Cabeçalho ==========
*/

header {
    background-color: var(--cor-sec);
    text-align: center;
    padding: 20px;
}

button {
    background-color: inherit;
    border: none;
    color: var(--cor-ter);
}

button:hover {
    background-color: var(--cor-ter);
    color: var(--cor-sec);
    border-radius: 5px;

}

h1, header button {
    padding: 10px 5px;
}

div button {
    padding: 0;
    height: 30px;
    width: 30px;
}

div p {
    display: inline;
    padding: 10px;
}

/*
* ========== Formatação Centro ==========
*/

main {
    background-color: var(--cor-sec);
    margin: 15px auto;
    width: 900px;
}