<p>Controles</p>
<div class="container"> <!-- Container do Ano -->
    <form>
        <button id="sub" onclick="subYear()">&lt;</button>
            <label class="selector">
                <input type="radio" name="selector" value="year">
                <span id="year">2024</span>
            </label>
        <button id="add" onclick="addYear()">&gt;</button>
        <br>
        <label class="selector">
            <input type="radio" name="selector" value="jan">
            <span>Jan</span>
        </label>
        <label class="selector">
            <input type="radio" name="selector" value="fev">
            <span>Fev</span>
        </label>
        <label class="selector">
            <input type="radio" name="selector" value="mar">
            <span>Mar</span>
        </label>
        <label class="selector">
            <input type="radio" name="selector" value="abr">
            <span>Abr</span>
        </label>
        <label class="selector">
            <input type="radio" name="selector" value="mai">
            <span>Mai</span>
        </label>
        <label class="selector">
            <input type="radio" name="selector" value="jun">
            <span>Jun</span>
        </label>
        <br>
        <label class="selector">
            <input type="radio" name="selector" value="jul">
            <span>Jul</span>
        </label>
        <label class="selector">
            <input type="radio" name="selector" value="ago">
            <span>Ago</span>
        </label>
        <label class="selector">
            <input type="radio" name="selector" value="set">
            <span>Set</span>
        </label>
        <label class="selector">
            <input type="radio" name="selector" value="oct">
            <span>Out</span>
        </label>
        <label class="selector">
            <input type="radio" name="selector" value="nov">
            <span>Nov</span>
        </label>
        <label class="selector">
            <input type="radio" name="selector" value="dec">
            <span>Dec</span>
        </label>
    </form>
</div>
<div class="container"><!-- Container de Listar e Nova -->
    <button id="new" onclick="subYear()">Nova Transação</button> |
    <button id="list">Listar Transações</button>
</div>