<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Gestão Financeira</title>
</head>

<body>
    <header>
        <h1>Gestão Financeira Pessoal</h1>
        <section>
            <button> Nova Movimentação </button>
            <button> Excluir Movimentação </button>
            <button> Editar Movimentação </button>
            <label class="switch-label">
                <input type="checkbox" class="checkbox" id="dark-mode">
                <span class="slider"></span>
            </label>
        </section>
    </header>
    <section class="barra-horizontal" id="barra-status">
        <article class="card">
            <h4>Saldo</h4>
            <h2>R$ 2.000,00</h2>
        </article>
        <article class="card">
            <h4>Receitas</h4>
            <h2>R$ 2.000,00</h2>
        </article>
        <article class="card">
            <h4>Despesas</h4>
            <h2>R$ 2.000,00</h2>
        </article>
        <article class="card">
            <h4>Fatura</h4>
            <h2>R$ 2.000,00</h2>
        </article>
    </section>
</body>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/config.js') }}"></script>

</html>