<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/switch-dm.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formularios.css') }}">
    <title>Gestão Financeira</title>
</head>

<body>
    <header>
        <div class="tittle-container">
            <h1>Gestão Financeira Pessoal</h1>
            <div class="switch-dm">
                <label class="switch-label">
                    <input type="checkbox" class="checkbox" id="dark-mode">
                    <span class="slider"></span>
                </label>
            </div>
        </div>
    </header>
    <main class="container-v tela-nova-transacao">
        <form class="form-nova-transacao form">
            <span class="container-v" id="input-categoria">
                <label for="categoria">
                    Categoria:
                </label>
                <input type="text" name="categoria" id="categoria">
            </span>
            <br>
            <span class="container-v" id="input-valor">
                <label for="valor">
                    Valor:
                </label>
                <input type="number" name="valor" id="valor">
            </span>
            <br>
            <span class="container-v" id="input-descricao">
                <label for="descricao">
                    Descrição:
                </label>
                <input type="text" name="descricao" id="descricao">
            </span>
            <br>
            <span class="container-v" id="input-data">
                <label for="data">
                    Data:
                </label>
                <input type="date" name="data" id="data">
            </span>
            <br>
            <span class="container-h" id="input-tipo">
                <label for="tipo">
                    Tipo:
                </label>
                <div>
                    <label for="despesa" class="radio-label">
                        <input type="radio" name="tipo" id="">
                        <span>
                            Despesa
                        </span>
                    </label>
                    <label for="receita" class="radio-label">
                        <input type="radio" name="tipo" id="">
                        <span>
                            Receita
                        </span>
                    </label>
                </div>
            </span>
            <div class='container-h btns-container'>
                <a href="{{ url_for('home.home') }}">Cancelar</a>
                <input type="submit" value="Salvar" id="btn-salvar">
            </div>
        </form>
    </main>
</body>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/config.js') }}"></script>

</html>